{% set meta = __SELF__.meta %}

{% if meta.meta_title %}
  <title>{{ meta.meta_title }}</title>
{% endif %}
{% if meta.meta_description %}
  <meta name="description" content="{{ meta.meta_description }}">
{% endif %}
{% if meta.meta_keywords %}
  <meta name="keywords" content="{{ meta.meta_keywords }}">
{% endif %}